*{margin: 0 ;padding:0;}
body{font-size: 18px;微软雅黑;}
ul li{list-style: none}
img{display: block;}

.layout{width:990px;margin: 0 auto;overflow:hidden;}
/*header*/
.header{height:56px;background: #232323;}
.logo{height: 56px;
	  width:200px;
	  float:left;}
/*.header-l{float:left; height:56px;width:200px; background:#232323 url(../image/picture/images/qianfeng_03.jpg) no-repeat left center;}*/
.header-r{width:685px;
		  height:56px;
		  float:right;}
.header-r ul{height:56px;
 		 margin:0 30px;
 		 overflow: hidden}
 	.header-r ul li{height:56px;
 					float: left;
 					background: url(../image/picture/qianfeng_1.jpg) no-repeat right center;}
 		.header-r ul li a{display:block;
 						  color:#fff;
 						  height:56px;
 						  line-height: 56px;
 						  text-decoration: none;
 						  padding:0 8px;
 						  font-size: 14px}
 		.header-r ul li a:hover{background: #f15a25}
.nav{height: 420px;
	 background: url(../image/picture/qianfeng_2.jpg) no-repeat center;}
.imgnews{height: 351px;background: #f5f5f5;}
	.imgnews dl{float:left;
				width:240px;
			    margin-top: 55px}
		.imgnews dl dt{margin-bottom: 10px}







 		
 		
